.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.link {
    color: #007bff;
    margin-left: 5px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}